@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}

* {
    --borders: rgb(216, 213, 213);
    --alternatebgcolor: rgb(248, 248, 248);
    --textmargin: 30px;
    font-family: sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#image-bg {
    height: 100%;
    width: 40%;
    background-image: url(images/bg.jpg);
    background-size: 100% 100%;
    border-right: 4px solid var(--borders);
}

#title-container {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    top: 15%;
    gap: 12px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
}

#title {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: Norse-Bold, sans-serif;
    color: white;
}

#logo {
    height: 75px;
    width: 60px;
}

.credits {
    width: 100%;
    position: relative;
    top: 73%;
    color: white;
    font-size: .75em;
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center;
}

#rightmost {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textpart {
    width: 100%;
    height: 45%;
    background-color: var(--alternatebgcolor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-bottom: 4px solid rgb(238, 238, 238);
    gap: 15px;
}

.copy {
    width: 80%;
    height: 45px;
    margin-left: var(--textmargin);
    font-weight: bold;
    min-height: 25px;
    max-height: 100px;
}

.confirmation {
    width: 80%;
    height: 1rem;
    margin-left: var(--textmargin);
    font-weight: bold;
    min-height: 10px;
    max-height: 20px;
    margin-bottom: 30px;
}

.italic {
    font-style: italic;
}

#formdiv {
    width: 100%;
    height: 52.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.intro {
    margin-left: var(--textmargin);
    font-weight: bold;
    font-size: 1.1rem;
}

#form {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--textmargin);
    gap: 10px;
    padding-top: 20px;
}

.bundle {
    width: 45%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;
}

.label {
    height: 40%;
    font-weight: 100;
    font-size: .75rem;
    color: rgb(66, 66, 66);
}

.input {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    border-color: black;
    border: 2px solid black;
}

.input:valid {
    border-color: green;
}

.input:invalid {
    border-color: red;
}

#lower {
    width: 100%;
    height: 32.5%;
    background-color: var(--alternatebgcolor);
    border-top: 4px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.create {
    margin-left: var(--textmargin);
    color: white;
    font-weight: bold;
    background-color: rgb(231, 177, 231);
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid var(--borders);
    margin-top: 35px;
}

.login {
    margin-left: var(--textmargin);
}

.loginlink {
    color: rgb(231, 177, 231);
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 675px)
{
    #title {
        font-size: 1.8rem;
    }
    #logo {
        height: 60px;
        width: 48px;
    }
}
@media (max-width: 550px)
{
    #title {
        font-size: 1.6rem;
    }
    .copy {
        height: 60px;
    }
}
@media (min-width: 900px)
{
    #title {
        font-size: 3rem;
    }
    #logo {
        height: 85px;
        width: 68px;
    }
    .copy, .confirmation {
        font-size: 19px;
    }
    .intro {
        font-size: 22px;
    }
    .create {
        font-size: 17px;
    }
    .login {
        font-size: 17px;
    }
    #title-container {
        gap: 25px;
    }
}
@media (min-width: 1100px)
{
    #title {
        font-size: 3.3rem;
    }
    #logo {
        height: 100px;
        width: 80px;
    }
    .confirmation {
        margin-bottom: 40px;
    }
    #title-container {
        gap: 35px;
    }
}